
body{
	margin: 0;
}
#nav{
	height: 125px;
}
#nav-top{
	height: 30px;
	background-color: #F1F1F1;
}

#regist{
	width: 1210px;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 30px;
}

#login-left{
	width: 590px;
	height: 30px;
	color: #666666;
	float: left;
}

#button{
	background-color: #eeeeee;
	box-shadow: 1px 1px 10 10 black;
}

#login-right{
	width: 350px;
	height: 30px;
	color: #333333;
	float: right;
}
a{
	color: black;
	text-decoration: none;
}
#login-right a:hover{
	color: red;
	text-decoration: underline;
}

.clear{
	clear: both;
}

#nav-foot{
	width: 1210px;
	height:90px;
	margin: 0 auto;
}

#logo{
	width: 417px;
	height: 90px;
	padding-top: 5px;
	float: left;
}
#logo img{
	width: 407px;
	height: 73px;
}

#sousuo{
	width: 520px;
	height: 37px;
	padding-top:20px;
	position: relative;
	float: left;
}

#icon-search{
	display: block;
	position: absolute;
	top: 30px;
	left: 5px;
	color: #D2D2D2;
}

#wenBenKuang{
	width: 430px;
	height: 37px;
	padding-left: 25px;
	border: solid 1px #E3393C;
	box-sizing: border-box;
	float: left;
}

#search-btn{
	width: 83px;
	height: 37px;
	color: white;
	font-size: 20px;
	border: solid 1px #E3393C;
	background-color: #E3393C;
	float: left;
}
#guanjianci{
	float: left;
	font-size: 14px;
	color: #666666;
}

#guanjianci a{
	color: #999999;
}
#guanjianci a:hover{
	text-decoration: underline;
	color: red;
}
#menu{
	width: 263px;
	height: 90px;
	padding-top: 25px;
	margin: 0;
	float: right;
	box-sizing: border-box;
}

#menu-left{
	width: 109px;
	height: 35px;
	margin-left: 20px;
	font-size: 12px;
	color: #333333;
	box-sizing: border-box;
	border: solid 1px #DFDFDF;
	background-color: #FCFCFC;
	float: left;
	position: relative;
	z-index: 10;
}

#menu-right{
	width: 109px;
	height: 35px;
	margin-left: 20px;
	font-size: 12px;
	color: #333333;
	border: solid 1px #DFDFDF;
	background-color: #FCFCFC;
	box-sizing: border-box;
	float: right;
	position: relative;
	z-index: 10;
}

#menu-left-btn,#menu-right-btn{
	width: 109px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	z-index: 100;
}

#resume{
	display: none;
	position: absolute;
	top: 30px;
	right: -1px;
	width: 304px;
	height: 229px;
	padding: 12px 20px;
	border: solid 1px #DFDFDF;
	background-color: #FFFFFF;
	z-index: -10;
}

#denglu{
	width: 280px;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	background-color: #F1F1F1;
}
#denglu a{
	color: #05329b;
	font-size: 12px;
}

#denglu a:hover{
	border-bottom: solid 1px red;
}

.xinxi{
	display: block;
	width: 140px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 10px;
	float: left;
	text-align: left;
}

.xinxi:hover{
	text-decoration: underline;
	color: red;
}

#cart{
	display: none;
	position: absolute;
	top: 30px;
	right: -1px;
	width: 304px;
	height: 64px;
	padding: 12px 20px;
	border: solid 1px #DFDFDF;
	background-color: #FFFFFF;
	z-index: -10;
}

#account{
	display: block;
	width: 150px;
	height: 35px;
	background-color: #E3383C;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-align: center;
	line-height: 35px;
	float: right
}

#header-nav{
	width: 1210px;
	height: 40px;
	background-color: #E4393C;
	margin: 0 auto;
	line-height: 40px;
}
#splb{
	width: 210px;
	text-align: center;
	float: left;
}
#splb a{
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bolder;
}

#splb a:hover{
	text-decoration: underline;
}

#header ul{
	float: left;
	padding: 0;
	margin: 0;
}

.li{
	width: 85px;
	list-style: none;
	text-align: center;
	color:  #FFFFFF;
	float: left;
}

.li:nth-of-type(1){
	background-color: #A40000;
}

li:hover{
	background-color: #A40000;
}

.content2-void{
	width: 1210px;
	height: 5px;
}

#abort{
	width: 1210px;
	height: 80px;
	margin: 0 auto;
}

.abort-table{
	width: 1210px;
	height: 80px;
}

.abort-table-toptr{
	width: 1210px;
	height: 40px;
}

.abort-imgbox{
	width: 47px;
	height: 40px;
}

.abort-textbox{
	width: 403px;
	height: 40px;
}

.abort-right{
	width: 24%;
	height: 80px;
}

.abort-table-table{
	width: 284px;
	height: 80px;
}

.abort-table-table-toptr{
	width: 272px;
	height: 35px;
	font-size: 12px;
}

.take{
	font-size: 14px;
	color: #666666;
}

.abort-input{
	width: 129px;
	height: 20px;
	padding: 0;
	line-height: 20px;
	font-size: 14px;
}

#abort-btn{
	width: 58px;
	height: 19px;
	font-size: 12px;
	background-color: #EEEEEE;
	border: solid 1px #EEEEEE;
	box-shadow: 1px 1px 1px #000000;
}

.abort-textbox-span{
	font-size: 12px;
	color: #333333;
}

.abort-textbox-span:hover{
	text-decoration: underline;
	color: red;
}

.abort-name{
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}

/************/
#star-imgbox{
	width: 1210px;
	height: 106px;
	margin: 0 auto;
}

.star-img-top{
	width: 1210px;
	height: 5px;
}

#star-img{
	width: 1210px;
	height: 96px;
}
/***********/

#bank{
	width: 1210px;
	height: 48px;
	margin: 0 auto;
}

#bank-box{
	width: 1210px;
	height: 38px;
	text-align: center;
}

.bank-card1{
	width: 90px;
	height: 31px;
}

.bank-card2{
	width: 84px;
	height: 31px;
}
/********/

#partner{
	width: 1210px;
	height: 29px;
	margin: 0 auto;
}

#partner-top{
	width: 1210px;
	height: 1px;
	background-color: #666666;
}

#partner-bot{
	width: 1210px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	color: #666666;
}

.partner-a{
	font-size: 12px;
	color: #333333;
}

.partner-a:hover{
	text-decoration: underline;
	color: red;
}

footer{
	width: 1210px;
	height: 72px;
	margin: 0 auto;
	border: solid 1px #E3E3E3;
	border-bottom: none;
	text-align: center;
	padding: 1px;
	position: relative;
}

#text{
	width: 1183px;
	height: 57px;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 28px);
	left: calc(50% - 591px);
	font-size: 14px;
	color: #666666;
}

#text a:hover{
	text-decoration: underline;
	color: red;
}

.police{
	color: red;
}



#left-nav{
	position: fixed;
	top: 25%;
	right: 0;
	width: 54px;
	height: 225px;
}

.img-nav{
	width: 54px;
	height: 54px;
}




#left-nav-img1{
	position: absolute;
	top: 0;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img1:hover{
	background-color: #AF1C1C;
	width: 125px;
	height: 55px;
}

#left-nav-img2{
	position: absolute;
	top: 55px;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img2:hover{
	background-color: #AF1C1C;
	width: 125px;
	height: 55px;
}

#left-nav-img3{
	position: absolute;
	top: 110px;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img3:hover{
	background-color: #AF1C1C;
	width: 125px;
	height: 55px;
}

#left-nav-img4{
	position: absolute;
	top: 165px;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img4:hover{
	background-color: #AF1C1C;
	width: 54px;
	height: 55px;
}


/*登陆表单*/
#main{
	width: 1210px;
	height: 261px;
	margin: 0 auto;
	margin-top: 5px;
}

#main-top{
	width: 1210px;
	height: 30px;
	font-size: 12px;
	color: #666666;
}

#main-top a{
	color: #333333;
}

#main-bot{
	width: 1210px;
	height: 231px;
}

#login-box{
	width: 750px;
	height: 212px;
	margin: 0 auto;
}

#login-form{
	width: 366px;
	height: 210px;
	float: left;
}

.form-box{
	width: 350px;
	height: 70px;
	position: relative;
}

.form-input{
	width: 302px;
	height: 27px;
	background-color: #F1F1F1;
	border: solid 1px #000000;

}

#at-login{
	width: 302px;
	height: 40px;
	border: solid 1px #000000;
	background-color: #000000;
	color: white;
	position: absolute;
	top: calc(50% - 20px);
}

#form-right{
	width: 381px;
	height: 210px;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	padding: 75px 0;
	float: left;
	box-sizing: border-box;
}

#form-right a{
	color: #0066CC;
}

#form-right a:hover{
	border-bottom: solid 1px red;
}

#form-right p{
	margin: 0;
}































































































