
body{
	margin: 0;
}
#nav{
	height: 125px;
}
#nav-top{
	height: 30px;
	background-color: #F1F1F1;
}

#regist{
	width: 1210px;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 30px;
}

#login-left{
	width: 590px;
	height: 30px;
	color: #666666;
	float: left;
}

#button{
	background-color: #eeeeee;
	box-shadow: 1px 1px 10 10 black;
}

#login-right{
	width: 350px;
	height: 30px;
	color: #333333;
	float: right;
}
a{
	color: black;
	text-decoration: none;
}
#login-right a:hover{
	color: red;
	text-decoration: underline;
}

.clear{
	clear: both;
}

#nav-foot{
	width: 1210px;
	height:90px;
	margin: 0 auto;
}

#logo{
	width: 417px;
	height: 90px;
	padding-top: 5px;
	float: left;
}
#logo img{
	width: 407px;
	height: 73px;
}

#sousuo{
	width: 520px;
	height: 37px;
	padding-top:20px;
	position: relative;
	float: left;
}

#icon-search{
	display: block;
	position: absolute;
	top: 30px;
	left: 5px;
	color: #D2D2D2;
}

#wenBenKuang{
	width: 430px;
	height: 37px;
	padding-left: 25px;
	border: solid 1px #E3393C;
	box-sizing: border-box;
	float: left;
}

#search-btn{
	width: 83px;
	height: 37px;
	color: white;
	font-size: 20px;
	border: solid 1px #E3393C;
	background-color: #E3393C;
	float: left;
}
#guanjianci{
	float: left;
	font-size: 14px;
	color: #666666;
}

#guanjianci a{
	color: #999999;
}
#guanjianci a:hover{
	text-decoration: underline;
	color: red;
}
#menu{
	width: 263px;
	height: 90px;
	padding-top: 25px;
	margin: 0;
	float: right;
	box-sizing: border-box;
}

#menu-left{
	width: 109px;
	height: 35px;
	margin-left: 20px;
	font-size: 12px;
	color: #333333;
	box-sizing: border-box;
	border: solid 1px #DFDFDF;
	background-color: #FCFCFC;
	float: left;
	position: relative;
	z-index: 10;
}

#menu-right{
	width: 109px;
	height: 35px;
	margin-left: 20px;
	font-size: 12px;
	color: #333333;
	border: solid 1px #DFDFDF;
	background-color: #FCFCFC;
	box-sizing: border-box;
	float: right;
	position: relative;
	z-index: 10;
}

#menu-left-btn,#menu-right-btn{
	width: 109px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	z-index: 100;
}

#resume{
	display: none;
	position: absolute;
	top: 30px;
	right: -1px;
	width: 304px;
	height: 229px;
	padding: 12px 20px;
	border: solid 1px #DFDFDF;
	background-color: #FFFFFF;
	z-index: -10;
}

#denglu{
	width: 280px;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	background-color: #F1F1F1;
}
#denglu a{
	color: #05329b;
	font-size: 12px;
}

#denglu a:hover{
	border-bottom: solid 1px red;
}

.xinxi{
	display: block;
	width: 140px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 10px;
	float: left;
	text-align: left;
}

.xinxi:hover{
	text-decoration: underline;
	color: red;
}

#cart{
	display: none;
	position: absolute;
	top: 30px;
	right: -1px;
	width: 304px;
	height: 64px;
	padding: 12px 20px;
	border: solid 1px #DFDFDF;
	background-color: #FFFFFF;
	z-index: -10;
}

#account{
	display: block;
	width: 150px;
	height: 35px;
	background-color: #E3383C;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-align: center;
	line-height: 35px;
	float: right
}

#header-nav{
	width: 1210px;
	height: 40px;
	background-color: #E4393C;
	margin: 0 auto;
	line-height: 40px;
}
#splb{
	width: 210px;
	text-align: center;
	float: left;
}
#splb a{
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bolder;
}

#splb a:hover{
	text-decoration: underline;
}

#header ul{
	float: left;
	padding: 0;
	margin: 0;
}

.li{
	width: 85px;
	list-style: none;
	text-align: center;
	color:  #FFFFFF;
	float: left;
}

.li:nth-of-type(1){
	background-color: #A40000;
}

li:hover{
	background-color: #A40000;
}

/*轮播导航*/
/**************************/
#itlb{
	width: 1210px;
	margin: 0 auto;
	position: relative;
}


#item{
	width: 210px;
	height: 193px;
	padding: 5px 0;
	border: solid 2px #E4393C;
	background-color: #FAFAFA;
	border-top: none;
	box-sizing: border-box;
	float: left;
}

.close{
	display: none;
	position: absolute;
	top: 5px;
	left: 902px;
	width: 30px;
	height: 30px;
	background-color: #000000;
	opacity: 0.4;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.item-list{
	display: none;
	width: 676px;
	height: 330px;
	border: solid 1px #DDDDDD;
	background-color: #FFFFFF;
	padding: 10px 12px;
	position: absolute;
	top: 5px;
	left: 201px;
}

.item-h3{
	z-index: 100;
}

.item-list-right{
	width:195px;
	height: 330px;
	float: right;
}

.item-left{
	width: 450px;
	height: 330px;
	float: left;
}

.item-list-right-img{
	width: 195px;
	height: 77px;
}

.item-list-right-redian{
	width: 195px;
	height: 176px;
}

.item-redian-span{
	display: block;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	color: #000000;
}

.redian-fabu{
	color: #E70E42;
}

.item-redian-span:hover{
	text-decoration: underline;
}


.item-redian{
	display: block;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #DC3F4F;
	font-weight: bold;
}


.shuxian{
	font-size: 12px;
	color: #C2C7C8;
}

.title-text{
	font-size: 14px;
	font-weight: bold;
	color: #858582;
}

.shangpin{
	font-size: 12px;
	color: #858582;
}

.title-text:hover{
	border-bottom: solid 1px red;
}

.shangpin:hover{
	text-decoration: underline;
	color: red;
}


h3{
	margin: 0;
	width: 205px;
	height: 28px;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	line-height: 28px;
	z-index: 100;
}
h3 span{
	color: red;
}
h3:hover{
	border: solid 1px #E6E6E6;
}
h3 a:hover{
	font-weight: bold;
}




#kong{
	width: 5px;
	height: 368px;
	float: left;
}

.void{
	width: 1210px;
	height: 10px;
	/*background-color: blue;*/
}


#abort{
	width: 1210px;
	height: 80px;
	margin: 0 auto;
}

.abort-table{
	width: 1210px;
	height: 80px;
}

.abort-table-toptr{
	width: 1210px;
	height: 40px;
}

.abort-imgbox{
	width: 47px;
	height: 40px;
}

.abort-textbox{
	width: 403px;
	height: 40px;
}

.abort-right{
	width: 24%;
	height: 80px;
}

.abort-table-table{
	width: 284px;
	height: 80px;
}

.abort-table-table-toptr{
	width: 272px;
	height: 35px;
	font-size: 12px;
}

.take{
	font-size: 14px;
	color: #666666;
}

.abort-input{
	width: 129px;
	height: 20px;
	padding: 0;
	line-height: 20px;
	font-size: 14px;
}

#abort-btn{
	width: 58px;
	height: 19px;
	font-size: 12px;
	background-color: #EEEEEE;
	border: solid 1px #EEEEEE;
	box-shadow: 1px 1px 1px #000000;
}

.abort-textbox-span{
	font-size: 12px;
	color: #333333;
}

.abort-textbox-span:hover{
	text-decoration: underline;
	color: red;
}

.abort-name{
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}

/************/
#star-imgbox{
	width: 1210px;
	height: 106px;
	margin: 0 auto;
}

.star-img-top{
	width: 1210px;
	height: 5px;
}

#star-img{
	width: 1210px;
	height: 96px;
}
/***********/

#bank{
	width: 1210px;
	height: 48px;
	margin: 0 auto;
}

#bank-box{
	width: 1210px;
	height: 38px;
	text-align: center;
}

.bank-card1{
	width: 90px;
	height: 31px;
}

.bank-card2{
	width: 84px;
	height: 31px;
}
/********/

#partner{
	width: 1210px;
	height: 29px;
	margin: 0 auto;
}

#partner-top{
	width: 1210px;
	height: 1px;
	background-color: #666666;
}

#partner-bot{
	width: 1210px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	color: #666666;
}

.partner-a{
	font-size: 12px;
	color: #333333;
}

.partner-a:hover{
	text-decoration: underline;
	color: red;
}

footer{
	width: 1210px;
	height: 72px;
	margin: 0 auto;
	border: solid 1px #E3E3E3;
	border-bottom: none;
	text-align: center;
	padding: 1px;
	position: relative;
}

#text{
	width: 1183px;
	height: 57px;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 28px);
	left: calc(50% - 591px);
	font-size: 14px;
	color: #666666;
}

#text a:hover{
	text-decoration: underline;
	color: red;
}

.police{
	color: red;
}



#left-nav{
	position: fixed;
	top: 25%;
	right: 0;
	width: 54px;
	height: 225px;
}

.img-nav{
	width: 54px;
	height: 54px;
}




#left-nav-img1{
	position: absolute;
	top: 0;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img1:hover{
	background-color: #AF1C1C;
	width: 125px;
	height: 55px;
}

#left-nav-img2{
	position: absolute;
	top: 55px;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img2:hover{
	background-color: #AF1C1C;
	width: 125px;
	height: 55px;
}

#left-nav-img3{
	position: absolute;
	top: 110px;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img3:hover{
	background-color: #AF1C1C;
	width: 125px;
	height: 55px;
}

#left-nav-img4{
	position: absolute;
	top: 165px;
	right: 0;
	width: 54px;
	height: 55px;
	background-color: #333333;
	border-bottom: solid 1px #444444;
	transition: all 0.2s linear;
}

#left-nav-img4:hover{
	background-color: #AF1C1C;
	width: 54px;
	height: 55px;
}


#register{
	width: 995px;
	height: 990px;
	margin-left: 5px;
	margin-top: 10px;
	float: left;
}
#main-top{
	width: 1210px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #666666;
}

#main-top a{
	color: #333333;
}


#register-box{
	width: 976px;
	height: 975px;
	margin: 0 auto;

}

#register-form{
	width: 976px;
	height: 362px;
	font-size: 12px;
	color: #666666;
}

#register-form-topimg{
	width: 974px;
	height: 33px;
}

#register-table{
	width:974px;
	height: 362px;
}

.register-table-tr{
	width: 972px;
	height: 35px;
}

.text-star{
	color: #FF0000;
}

.abort-table-lefttd{
	text-align: right;
}

.wenbenkuang-1{
	width: 127px;
	height: 18px;
	box-sizing: border-box;
}

.go-wenbenkuang-1{
	height: 19px;
	font-size: 12px;
	padding: 0;
	line-height: 12px;
	background-color: #EEEEEE;
	border: solid 1px #EEEEEE;
}

#register-button-box{
	width: 974px;
	text-align: center;
}

#register-bot{
	width: 974px;
	height: 547px;
	margin-top: 10px;
	font-size: 14px;
}

#treaty{
	width: 976px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: #66667A;
}

#treaty-main{
	width: 976px;
	height: 481px;
	padding: 5px;
	line-height: 20px;
	color: #666666;
	box-sizing: border-box;
}























































